body{
    background-color: #EEEEEE;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

#navbar{
    background-color: #0D0A0B;
}

#navbar a{
    color: #EEEEEE;
    border-bottom: solid 1px #0D0A0B;
}

#active{
    color: #AD2831;
}

#navbar ul li a:hover{
    border-bottom: solid 1px #EEEEEE;
    transition: 0.5s;
}

.active{
    color: #AD2831;
}

#brand{
    user-select: none;
}

#brand{
    user-select: none;
}

.footer{
    font-weight: bolder;
    background-color: #0D0A0B;
    padding: 10px;
    color: #EEEEEE;
}

#card{
	border-radius: 21px;
background: linear-gradient(145deg, #f0f0f0, #cacaca);
box-shadow:  5px 5px 10px #bebebe,
             -5px -5px 10px #ffffff;
}