body{
    background-color: #EEEEEE;
    font-family: 'Montserrat', sans-serif;
}

#navbar{
    background-color: #0D0A0B;
}

#navbar a{
    color: #EEEEEE;
    border-bottom: solid 1px #0D0A0B;
}

#navbar ul li a:hover{
    border-bottom: solid 1px #EEEEEE;
    transition: 0.5s;
}

.active{
    color: #AD2831;
}