body {
	background-color: #EEEEEE;
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
}

#navbar {
	background-color: #0D0A0B;
}

#navbar a {
	color: #EEEEEE;
	border-bottom: solid 2px #0D0A0B;
}

#navbar ul li a:hover {
	border-bottom: solid 2px #AD2831;
	transition: 0.5s;
}

.cards {
	padding: 10px
}

.footer {
	bottom: 0;
	margin: 0;
	margin-top: 1rem;
	background-color: #0D0A0B;
	padding: 10px;
	color: #EEEEEE;
}

.footer a {
	font-weight: bold;
	color: #AD2831;
	padding-left: 5px;
	text-decoration: none;
}

#radius-shape-1 {
	height: 220px;
	width: 220px;
	top: -60px;
	left: -130px;
	background: radial-gradient(#0D0A0B, #AD2831);
	overflow: hidden;
}

#radius-shape-2 {
	border-radius: 38% 62% 63% 37%/70% 33% 67% 30%;
	bottom: -60px;
	right: -110px;
	width: 300px;
	height: 300px;
	background: radial-gradient(#0D0A0B, #AD2831);
	overflow: hidden;
}

.bg-glass {
	background-color: hsla(0, 0%, 100%, 0.69) !important;
	backdrop-filter: saturate(200%) blur(25px);
}